# Credentials and Secrets
.env
config/kaggle.json

# Airflow Runtime files
logs/
airflow.cfg
airflow.db

# Docker Data Volumes & Local Storage
.postgres_data/
data/*.csv
data/*.zip

# Spark/Python local artifacts
__pycache__/
*.pyc
.pytest_cache/
